.container {
  background: #333;
  height: 150px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  margin: 10px;
}

@media (max-width: 450px) {
  .container {
    height: 300px;
  }
}
