.container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

.container h2 {
  color: #dddddd;
  font-size: 2rem;
  font-weight: 300;
}
